.body{
    margin: 0%;
    padding: 0%;
color: rgb(0, 0, 0);
background-color: #f0f2f5;
background-size: 100% 100%;
background-attachment: fixed;
background-repeat: no-repeat;
height:100vh;
text-align:left;
font-family: 'Poppins', sans-serif;
top: 50%;
left: 60%;
}
.table{
padding-top: 100%;
background: #fffdfd;
    width: 400px;
  /*  border-radius: px; */
    padding: 0 40px;
    text-align: left;
    box-shadow: 0 2px 5px 0  #595959;
   }
    .email input{
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
    }
.h1{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.copywrite{
    text-align: center;
    font-size: 15px;
}
.button{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #ffff;
    border-radius: 0px;
    background-color: #00a400;
    text-align: center;
}
.button:hover{
    color: #ffffff;
    cursor: pointer;
    background-color: #028502;
}
@media screen and (max-width: 600px){

    .table{
        padding-top: 100%;
        background: #fffdfd;
            width: 300px;
            border-radius: px;
            padding: 0 40px;
            text-align: left;
            box-shadow: 0 2px 5px 0  #595959;
           }



}